body{
    padding: 0;
    margin: 0;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.connected-users{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 89, 255, 0.034);
}

.chats-main-wrapper{
    display: grid;
    grid-template-rows: 2fr 18fr 2fr;
}

.users-list{
    display: grid;
    grid-template-rows: 2fr 20fr;  
}

.user{
    font-size: 16px;
    font-weight: bold;
    font-family: open sans;
    letter-spacing: 1px;
}
.status{
    color: rgb(14, 163, 0);
    font-size: 12px;
}

.user-status{
    color: rgb(14, 163, 0);
    font-size: 12px;
    margin-top: 2px;
    padding-left: 40px;
    background-color: transparent;
}

.search-bar{
    width: 80%;
    border-radius: 0px 40px 40px 0px;
    height: 30px;
    border: solid 1px rgb(201, 201, 201);
    padding-left: 10px;
    font-family: Open Sans;
    letter-spacing: 0px;
    color: rgb(201, 201, 201);
}

.search-button{
    position: relative;
    left: 1px;
    height: 34px;
    padding-top: 5px;
    padding-left: 10px;
    width: 40px;
    border: solid 1px rgb(201, 201, 201);
    background-color: white;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    color: rgb(167, 167, 167);
}

.search-button:hover .search-button-icon{
    color: rgb(167, 167, 167);
}

.search-button-icon{
    color: rgb(201, 201, 201);
    position: absolute;
    top: 5px;
    left: 10px;
}

.contact-linebreak{
    margin-top: 5px;
    width: 90%;
    background-color: rgb(206, 206, 206);
    height: 1px;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 80px;
}

.user-profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(201, 201, 201);
}

.profile-picture{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
}

.user-info-wrapper{
    width: 100%;
    padding-left: 20px;
}

.contact-wrapper{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    background-color: transparent;
    padding-left: 20px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.contact-wrapper:hover .contact-linebreak{
    background-color: rgb(206, 206, 206)
}


.contact-list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: rgb(29, 29, 29);
    letter-spacing: 1px;
    font-family: Open Sans;
    font-size: 12px;
    background-color: rgba(0, 89, 255, 0.062);
}

.user-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    color:rgba(29, 29, 29, 0.753);
    height: 100%;
}

.user-name{
    font-size: 20px;
    align-self: end;
    padding-left: 40px;
    background-color: transparent;
}

.message-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: transparent;
}

.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.message-input{
    width: 90%;
    height: 28px;
    border: 0;
    border: none;
    border-radius: 9px;
    font-family: Open Sans;
    color: rgb(61, 61, 61);
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.message-input:focus{
    outline: none;
    box-shadow: 0 0 0 1pt rgb(201, 201, 201);
}

.bottom-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.bottom-bottom-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.send-button,
.call-button{
    width: 33px;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 1px;    
    border: none;
    border-radius: 15px;
    background-color: rgba(248, 75, 75, 1);
    color: white;
    font-family: Open Sans;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
    text-align: center;
    justify-items: center;
}

.send-button:hover,
.call-button:hover{
    background-color: white;
    color: rgba(248, 75, 75, 1);
}

.chat{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
}

.incoming-message{
    background-color: rgba(0, 89, 255, 0.062);
    color: rgb(65, 64, 64);
    max-width: 300px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Open Sans;
    font-size: 13px;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;   
    cursor: default;  
}

.outbound-message{
    background-color: rgba(248, 75, 75, 1);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Open Sans;
    font-size: 13px;
    margin-left: auto;
    cursor: default;
}

.chats-wrapper{
    height: 100%;
    background-color: white;
}

.videocall-wrapper{
    height: 100%;
    background-color: rgb(26, 32, 36);
    display: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.video-container1,
.video-container2{
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border: 2px solid rgb(206, 206, 206);
}

.linebreak{
    align-self: flex-end;
    width: 90%;
    background-color: rgb(206, 206, 206);
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.linebreak-bottom{
    width: 90%;
    background-color: rgb(206, 206, 206);
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.connected-users,
.contact-list-header{
    min-width: 250px;
}








